<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<th:block th:insert="~{admin/inc/head.html :: head}"></th:block>
<style>
	.table-responsive {
    
    overflow-y: auto; /* 세로 스크롤 허용 */
    
}
</style>
</head>
<body>
  <div class="container-scroller"> 
    <!-- partial:partials/_navbar.html -->
    <!-- 상단 로고 및 프로필바 -->
    <th:block th:insert="~{admin/inc/navbar.html :: navbar}"></th:block>
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <th:block th:insert="~{admin/inc/settings-panel.html :: settings-panel}"></th:block>


      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <!-- 사이드 바 -->
    <th:block th:insert="~{admin/inc/sidebar.html :: sidebar}"></th:block>


      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><a href="/faq">FAQ</a></h4>
                  <p class="card-description">
                    <code>.자주 묻는 질문</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>작성자</th>
                          <th>제목</th>
                          <th>게시일</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>관리자</td>
                          <td>첫번째 질문답</td>
                          <td>2024-11-20</td>
                          <td><label class="badge badge-warning">수정</label></td>
                        </tr>   
                        <tr>
                          <td>관리자</td>
                          <td>두번째 질문답</td>
                          <td>2024-11-20</td>
                          <td><label class="badge badge-warning">수정</label></td>
                        </tr>   
                        <tr>
                          <td>관리자</td>
                          <td>세번째 질문답</td>
                          <td>2024-11-20</td>
                          <td><label class="badge badge-warning">수정</label></td>
                        </tr>   
                        <tr>
                          <td>관리자</td>
                          <td>네번째 질문답</td>
                          <td>2024-11-20</td>
                          <td><label class="badge badge-warning">수정</label></td>
                        </tr>   
                        <tr>
                          <td>관리자</td>
                          <td>다섯번째 질문답</td>
                          <td>2024-11-20</td>
                          <td><label class="badge badge-warning">수정</label></td>
                        </tr>   
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">1:1 문의</h4>
                  <p class="card-description">
                     <code>.OneOnOne</code>
                  </p>
                  <div class="table-responsive">
				    <table class="table table-hover">
				        <thead>
				            <tr>
				                <th>문의자</th>
				                <th>제목</th>
				                <th>문의일</th>
				                <th></th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr th:each="question : ${questions}">
				                <td th:text="${question.userEntityInfo.name}">문의자</td>
				                <td th:text="${question.title}">제목</td>
				                <td th:text="${question.regdate}">문의일</td>
								<!--
									<label class="badge badge-danger"> 답장 전 <빨강>
										<label class="badge badge-success"> 답장 후 <초록>
								-->
				                <td>
				                    <!-- 답장 버튼 -->
									<a th:href="@{/reply/{id}(id=${question.id})}" class="badge badge-danger custom-link">
									    문의 답변
									</a>
				                </td>
				            </tr>
				        </tbody>
				    </table>
				</div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><a href="/blog">후기 게시판</a></h4>
                  <p class="card-description">
                    Add class <code>.최근 게시글</code>
                  </p>
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr class="table-warning">
                          <th>
                            #
                          </th>
                          <th>
                            작성자
                          </th>
                          <th>
                            제목
                          </th>
                          <th class="text-info">
                            # 해시태그
                          </th>
                          <th>
                            게시일
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            홍동길
                          </td>
                          <td>
							제가 샀습니다.
                          </td>
                          <td>
                            #후기 #경매
                          </td>
                          <td>
                            2024-11-25
                          </td>
                        </tr>
						<tr>
						  <td>
						    2
						  </td>
						  <td>
						    김김김
						  </td>
						  <td>
						제가 샀습니다.
						  </td>
						  <td>
						    #비드온 #짱
						  </td>
						  <td>
						    2024-11-23
						  </td>
						</tr>

						<tr>
						  <td>
						    3
						  </td>
						  <td>
						    해바라기
						  </td>
						  <td>
						제가 샀습니다.
						  </td>
						  <td>
						    #좋아요
						  </td>
						  <td>
						    2024-11-23
						  </td>
						</tr>

						<tr>
						  <td>
						    4
						  </td>
						  <td>
						    이장미
						  </td>
						  <td>
						제가 샀습니다.
						  </td>
						  <td>
						    
						  </td>
						  <td>
						    2024-11-23
						  </td>
						</tr>

						<tr>
						  <td>
						    5
						  </td>
						  <td>
						    도봉순
						  </td>
						  <td>
						제가 샀습니다.
						  </td>
						  <td>
						    #샀어용
						  </td>
						  <td>
						    2024-11-23
						  </td>
						</tr>

						<tr>
						  <td>
						    6
						  </td>
						  <td>
						    김복주
						  </td>
						  <td>
						제가 샀습니다.
						  </td>
						  <td>
						    
						  </td>
						  <td>
						    2024-11-22
						  </td>
						</tr>

						<tr>
						  <td>
						    7
						  </td>
						  <td>
						    하나둘
						  </td>
						  <td>
						제가 샀습니다.
						  </td>
						  <td>
						    
						  </td>
						  <td>
						    2024-11-22
						  </td>
						</tr>

						<tr>
						  <td>
						    8
						  </td>
						  <td>
						    세나나
						  </td>
						  <td>
						제가 샀습니다.
						  </td>
						  <td>
						    #짱짱
						  </td>
						  <td>
						    2024-11-21
						  </td>
						</tr>

						<tr>
						  <td>
						    9
						  </td>
						  <td>
						    아자핑
						  </td>
						  <td>
						제가 샀습니다.
						  </td>
						  <td>
						    #경매 #티비
						  </td>
						  <td>
						    2024-11-20
						  </td>
						</tr>

						<tr>
						  <td>
						    10
						  </td>
						  <td>
						    해핑
						  </td>
						  <td>
						제가 샀습니다.
						  </td>
						  <td>
						    #핸드폰
						  </td>
						  <td>
						    2024-11-20
						  </td>
						</tr>

						<tr>
						  <td>
						    11
						  </td>
						  <td>
						    홍유비
						  </td>
						  <td>
						경매품 겟!!
						  </td>
						  <td>
						    #후기 #상품 #중고
						  </td>
						  <td>
						    2024-11-18
						  </td>
						</tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">게시글 관리</h4>
                  <p class="card-description">
                     <code>.최근 삭제 관리</code>
                  </p>
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr class="table-warning">
                          <th>
                            분류
                          </th>
                          <th>
                            작성자
                          </th>
                          <th>
                            내용
                          </th>
                          <th>
                            게시일
                          </th>
                          <th>
                            삭제일
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            게시글
                          </td>
                          <td>
                            미미미누
                          </td>
                          <td>
                            제가 팔 물건은...
                          </td>
                          <td>
                            2024-11-10
                          </td>
                          <td>
                            2024-11-13
                          </td>
                        </tr>
                        <tr>
                          <td>
                            댓글
                          </td>
                          <td>
                            이나
                          </td>
                          <td>
                            이런 물건을 왜..
                          </td>
                          <td>
                            2024-11-10
                          </td>
                          <td>
                            2024-11-10
                          </td>
                        </tr>
						<tr>
						   <td>
						     댓글
						   </td>
						   <td>
						     철용
						   </td>
						   <td>
						     이런 물건을 왜..
						   </td>
						   <td>
						     2024-11-10
						   </td>
						   <td>
						     2024-11-10
						   </td>
						 </tr>
						 <tr>
						    <td>
						      댓글
						    </td>
						    <td>
						      두산
						    </td>
						    <td>
						      이런 물건을 왜..
						    </td>
						    <td>
						      2024-11-10
						    </td>
						    <td>
						      2024-11-10
						    </td>
						  </tr>
						  <tr>
						    <td>
						      게시글
						    </td>
						    <td>
						      만우
						    </td>
						    <td>
						      제가 팔 물건은...
						    </td>
						    <td>
						      2024-11-10
						    </td>
						    <td>
						      2024-11-13
						    </td>
						  </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <th:block th:insert="~{admin/inc/footer.html :: footer}"></th:block>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

	<th:block th:insert="~{admin/inc/scripts.html :: scripts}"></th:block>
  
</body>

</html>
