<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/auction-fevicon.png">
    <title th:text="${title}">BidON</title>

    <link rel="stylesheet" href="/css/common/all.min.css" type="text/css">
    <link rel="stylesheet" href="/css/common/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="/css/common/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/common/style.css" type="text/css">
    <link rel="stylesheet" href="/css/common/responsive.css" type="text/css">
</th:block>
