<th:block th:fragment="scripts">

    <th:block th:if="${jquery} or ${all}">
        <script src="/user/js/common/jquery.min.js"></script>
    </th:block>

    <th:block th:if="${bootstrap} or ${all}">
        <script src="/user/js/common/bootstrap.bundle.min.js"></script>
    </th:block>

    <th:block th:if="${swiper} or ${all}">
        <script src="/user/js/common/swiper.min.js"></script>
    </th:block>

    <th:block th:if="${custom} or ${all}">
        <script src="/user/js/common/custom.js"></script>
    </th:block>

    <th:block th:if="${dayjs} or ${all}">
        <script src="/common/js/dayjs.min.js"></script>
    </th:block>

</th:block>