<!DOCTYPE html>
<html lang="en" id="theme" class="light"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <th:block th:insert="~{user/inc/head.html :: head(title='Bid Live')}"></th:block>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/user/css/bid-live.css" type="text/css">
</head>

<body>
<div class="container">
    <div class="content container-fluid bootstrap snippets bootdey">
        <div class="row row-broken">
            <div class="col-sm-2 col-xs-12">
                <div class="decor-default chat flex-wrap" tabindex="5000">
                    <div class="participants-title">
                        <h6>현재 참가자 수: <span>6</span>명</h6>
                    </div>
                    <div class="participants scroll-area">
                        <div class="chat-users">
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                                    <div class="status off"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                                    <div class="status online"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User name">
                                    <div class="status busy"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                                    <div class="status off"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="User name">
                                    <div class="status online"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                                    <div class="status busy"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User name">
                                    <div class="status off"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="User name">
                                    <div class="status online"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                                    <div class="status busy"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="User name">
                                    <div class="status off"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                                    <div class="status off"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                                    <div class="status online"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User name">
                                    <div class="status busy"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                                    <div class="status off"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="User name">
                                    <div class="status online"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="User name">
                                    <div class="status busy"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                                    <div class="status off"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User name">
                                    <div class="status online"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="User name">
                                    <div class="status busy"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="User name">
                                    <div class="status off"></div>
                                </div>
                                <div class="user-info">
                                    <div class="name">User name</div>
                                    <div class="mood">User mood</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-xs-12 chat flex-wrap" tabindex="5001">
                <div class="chat-title">
                    <img class="item-image" src="/user/images/sample/live-auction.png" alt="경매 상품">
                    <div class="item-info">
                        <h2>아주 희귀한 보석</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dicta doloremque dolores
                            facilis, fuga hic impedit itaque minus nesciunt praesentium quaerat, quas quos recusandae
                            reiciendis sequi sint sit totam ullam. </p>
                        <h3>시작가: <strong>3,000</strong>원</h3>
                    </div>
                </div>
                <div id="chat-list" class="scroll-area flex-base">
                    <div class="col-inside-lg decor-default">
                        <div class="chat-body">

                            <div class="answer left">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet,
                                    consectetur
                                    adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>

                            <div class="answer center">
                                <div class="avatar">
                                    <img src="/user/images/sample/auctioneer-bot.jpg" alt="User name">
                                </div>
                                <div class="name">경매사 봇</div>
                                <div class="text">
                                    안녕하세요~ 김낙찰님 입장하셨습니다!
                                </div>
                            </div>

                            <div class="answer right">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet,
                                    consectetur
                                    adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>


                            <div class="answer center">
                                <div class="avatar">
                                    <img src="/user/images/sample/auctioneer-bot.jpg" alt="User name">
                                </div>
                                <div class="name">경매사 봇</div>
                                <div class="text">
                                    그럼 경매를 시작해볼까요??<br>
                                    다들 준비되셨나요?<br>
                                    돈 두둑히 챙기셨나요??
                                </div>
                            </div>

                            <div class="answer left">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                                    <div class="status online"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    ...
                                </div>
                                <div class="time">5 min ago</div>
                            </div>

                            <div class="answer center">
                                <div class="avatar">
                                    <img src="/user/images/sample/auctioneer-bot.jpg" alt="User name">
                                </div>
                                <div class="name">경매사 봇</div>
                                <div class="text">
                                    자 갑니다!!!! 누가누가 입찰을 할까요? 누가누가 입찰을 할까요?누가누가 입찰을 할까요?누가누가 입찰을 할까요?누가누가 입찰을 할까요?누가누가 입찰을 할까요?누가누가 입찰을 할까요?누가누가 입찰을 할까요?누가누가 입찰을 할까요?누가누가 입찰을 할까요?누가누가 입찰을 할까요?
                                </div>
                            </div>


                            <div class="answer right">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                                    <div class="status busy"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    It is a long established fact that a reader will be. Thanks Mate!
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer right">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                                    <div class="status off"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    It is a long established fact that a reader will be. Thanks Mate!
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer left">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet,
                                    consectetur
                                    adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer right">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet,
                                    consectetur
                                    adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer left">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                                    <div class="status online"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    ...
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer right">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                                    <div class="status busy"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    It is a long established fact that a reader will be. Thanks Mate!
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer right">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                                    <div class="status off"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    It is a long established fact that a reader will be. Thanks Mate!
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="button-add">
                        <div class="button-wrap">
                            <button class="bid-button">1,000원 입찰</button>
                            <button class="quit-button">입찰 포기</button>
                        </div>
                        <span class="bid-time-text">입찰 가능 시간<time class="bid-time">1:00</time></span>
                    </div>
                    <div class="answer-add">
                        <input id="message-input" type="text" placeholder="메시지를 입력해주세요">
                        <button type="submit" class="send-button">
                            <i class="fa-solid fa-location-arrow"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{user/inc/scripts.html :: scripts(jquery=true, dayjs=true)}"></th:block>
<script src="/user/js/bid-live.js"></script>
</body>
</html>