<!DOCTYPE html>
<html lang="en" id="theme" class="light">


<head>
    <th:block th:insert="~{user/inc/head.html :: head(title='Blog')}"></th:block>
</head>

<body>
<th:block th:insert="~{user/inc/header.html :: header}"></th:block>

<main id="main-content" class="position-relative">
    <div class="breadcrumb-main">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                </ol>
                <h1 class="breadcrumb-title">최신 후기</h1>
            </div>
        </div>
    </div>
    <section class="outer-gap blog-section">
        <div class="container">
            <div class="row gy-4">
                <div class="col-md-6 col-lg-4">
                    <div class="card blog-card">
                        <img class="card-img-top" src="/user/images/review/reviewPhoto001.png" alt="blog-image">
                        <div class="card-body p-3 p-md-4">
                            <a href="blog-detail"><b>가성비 좋은 전자제품 추천해요</b></a>
                            <p>가격 대비 성능이 정말 훌륭한 제품을 찾았어요. 
                            </p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center gap-1">
                                    <img src="/user/images/sample/testimonial-avatar.png" height="50" class="blog-avatar"
                                         alt="avatar">
                                    <h6>정관우</h6>
                                </div>
                                <p class="mb-0"><span>24151</span>명 조회</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card blog-card">
                        <img class="card-img-top" src="/user/images/review/reviewPhoto003.png" alt="blog-image">
                        <div class="card-body p-3 p-md-4">
                            <a href="blog-detail"><b>디자인과 성능 모두 만족스러워요</b></a>
                            <p>깔끔한 디자인에 직관적인 사용법 덕분에 처음 사용하는 사람도 금방 익힐 수 있을 것 같아요. 
                            </p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center gap-1">
                                    <img src="/user/images/sample/testimonial-avatar.png" height="50" class="blog-avatar"
                                         alt="avatar">
                                    <h6>Rommy Ahuja</h6>
                                </div>
                                <p class="mb-0"><span>1245</span>명 조회</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card blog-card">
                        <img class="card-img-top" src="/user/images/review/reviewPhoto005.png" alt="blog-image">
                        <div class="card-body p-3 p-md-4">
                            <a href="blog-detail"><b>조용하고 효율적인 사용감에 감동</b></a>
                            <p>작동 소음이 거의 없어서 사용 중에도 전혀 신경 쓰이지 않았어요.
                            </p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center gap-1">
                                    <img src="/user/images/sample/testimonial-avatar.png" height="50" class="blog-avatar"
                                         alt="avatar">
                                    <h6>Rommy Ahuja</h6>
                                </div>
                                <p class="mb-0"><span>4513</span>명 조회</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card blog-card">
                        <img class="card-img-top" src="/user/images/review/reviewPhoto008.png" alt="blog-image">
                        <div class="card-body p-3 p-md-4">
                            <a href="blog-detail"><b>다양한 기능이 있어 활용도가 높아요</b></a>
                            <p>여러 가지 기능을 하나의 제품에서 사용할 수 있어서 매우 편리합니다. 
                            </p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center gap-1">
                                    <img src="/user/images/sample/testimonial-avatar.png" height="50" class="blog-avatar"
                                         alt="avatar">
                                    <h6>Rommy Ahuja</h6>
                                </div>
                                <p class="mb-0"><span>143534</span>명 조회</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card blog-card">
                        <img class="card-img-top" src="/user/images/review/reviewPhoto010.png" alt="blog-image">
                        <div class="card-body p-3 p-md-4">
                            <a href="blog-detail"><b>설치도 간편하고 사용도 쉬워요</b></a>
                            <p>복잡한 설치 과정 없이 바로 사용할 수 있었습니다. 
                            </p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center gap-1">
                                    <img src="/user/images/sample/testimonial-avatar.png" height="50" class="blog-avatar"
                                         alt="avatar">
                                    <h6>Rommy Ahuja</h6>
                                </div>
                                <p class="mb-0"><span>41545</span>명 조회</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card blog-card">
                        <img class="card-img-top" src="/user/images/review/reviewPhoto011.png" alt="blog-image">
                        <div class="card-body p-3 p-md-4">
                            <a href="blog-detail"><b>고급스러운 마감과 튼튼한 내구성</b></a>
                            <p>외관부터 고급스럽고 세련된 느낌이 듭니다.</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center gap-1">
                                    <img src="/user/images/sample/testimonial-avatar.png" height="50" class="blog-avatar"
                                         alt="avatar">
                                    <h6>Rommy Ahuja</h6>
                                </div>
                                <p class="mb-0"><span>243</span>명 조회</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</main>

<th:block th:insert="~{user/inc/footer.html :: footer}"></th:block>
<th:block th:insert="~{user/inc/scripts.html :: scripts(jquery=true, bootstrap=true, custom=true)}"></th:block>
</body>

</html>