<!DOCTYPE html>
<html lang="en" id="theme" class="light"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <th:block th:insert="~{user/inc/head.html :: head(title='Blog Detail')}"></th:block>
</head>

<body>
<th:block th:insert="~{user/inc/header.html :: header}"></th:block>

<main id="main-content" class="position-relative">
    <div class="breadcrumb-main">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">blogs details</li>
                </ol>
                <h1 class="breadcrumb-title">detailed blogs</h1>
            </div>
        </div>
    </div>
    <section class="outer-gap">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="single-blog">
                        <img class="blog-img" src="/user/images/reviewPhoto001.png">
						<img class="blog-img" src="/user/images/reviewPhoto002.png">
                        <div class="single-blog-content py-3 py-md-4">
                            <h3>가성비 좋은 전자제품 추천해요</h3>
                            <p>가격 대비 성능이 정말 훌륭한 제품을 찾았어요. 기본 기능은 물론이고 추가 기능까지 기대 이상으로 만족스럽습니다. 
								처음에는 저렴한 가격 때문에 성능이 부족하지 않을까 걱정했지만, 실제로 사용해 보니 그 걱정이 무색할 정도로 뛰어난 
								품질을 보여줬습니다. 기본적인 사용 환경에서는 전혀 불편함이 없고, 오히려 다른 고가 제품에서나 기대할 법한 고급 기능들까지 제공되어 놀랐습니다. 
								특히 사용법이 직관적이라 초보자도 쉽게 다룰 수 있고, 제품의 내구성도 상당히 좋아 보입니다. 디테일 하나하나에 신경을 쓴 설계와 깔끔한 마감은 단순히 
								가격 대비 성능을 넘어서, 실제로 사용하는 데 있어 높은 만족도를 주고 있어요. 심지어 추가적으로 제공되는 기능들은 제가 생각지도 못했던 부분에서 편리함을 
								더해 주었고, 이런 점들이 확실히 사용자 경험을 한 단계 업그레이드해줍니다. 친구와 가족들에게 추천하고 싶을 정도로 만족스러운 선택이었고, "왜 더 비싼 제품을 
								사야 하지?"라는 생각이 들 만큼 탁월한 성능을 보여줍니다. 앞으로도 이런 가성비 좋은 제품을 계속 찾고 싶을 정도로 이번 구매가 즐거운 경험이었어요!</p>
                        </div>
                    </div>
                    <div class="card-wrapper">
                        <h5 class="mb-4">댓글을 남겨보세요!</h5>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>이름*</label>
                                        <input type="text" class="form-control" placeholder="Rozzy Nomad" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email*</label>
                                        <input type="email" class="form-control" placeholder="name@mail.com " required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>답장*</label>
                                        <textarea class="form-control" placeholder="Write Here Your Message"
                                                  required></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="primary-btn btn-light" type="submit">제출하기</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-wrapper mb-3">
                        <h5 class="mb-3">공유</h5>
                        <ul class="d-flex flex-wrap gap-3">
                            <li>
                                <a href="javascript:void(0)" class="fs-18 text-dark">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="fs-18 text-dark">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="fs-18 text-dark">
                                    <i class="fa-brands fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="fs-18 text-dark">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="fs-18 text-dark">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="fs-18 text-dark">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-wrapper">
                        <h5>June 5, 2024</h5>
                        <hr>
                        <h5 class="mb-3">카테고리</h5>
                        <div class="d-flex flex-wrap gap-2">
                            <span class="badge text-bg-primary">New!</span>
                            <span class="badge text-bg-primary">New!</span>
							<span class="badge text-bg-primary">New!</span>
							<span class="badge text-bg-primary">New!</span>
							<span class="badge text-bg-primary">New!</span>
                        </div>
                        <hr>
                        <h5 class="mb-3">해시 태그</h5>
                        <div class="d-flex flex-wrap gap-2">
                            <span class="">#전자기기</span>
                            <span class="">#노트북</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

<th:block th:insert="~{user/inc/footer.html :: footer}"></th:block>
<th:block th:insert="~{user/inc/scripts.html :: scripts(jquery=true, bootstrap=true, custom=true)}"></th:block>
</body>

</html>