<!DOCTYPE html>
<html lang="en" id="theme" class="light"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <th:block th:insert="~{user/inc/head.html :: head(title='Payment')}"></th:block>
</head>

<body>
<th:block th:insert="~{user/inc/header.html :: header}"></th:block>

<main id="main-content" class="position-relative">
    <div class="breadcrumb-main">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Payment</li>
                </ol>
                <h1 class="breadcrumb-title">Product Details & more</h1>
            </div>
        </div>
    </div>
    <div class="inner-gap">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="payment-wrapper">
                        <div class="accordion" id="paymentAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="wallet">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseWallet" aria-expanded="true"
                                            aria-controls="collapseWallet">
                                        <span>Wallet</span>
                                        <span class="acc-para">Safe payment online. Credit card needed. Paypal
                                                account is not necessary.
                                            </span>
                                    </button>
                                </h2>
                                <div id="collapseWallet" class="accordion-collapse collapse"
                                     aria-labelledby="wallet" data-bs-parent="#paymentAccordion">
                                    <div class="accordion-body">
                                        <p>Safe payment online. Credit card needed. Paypal account is not necessary.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="creditCard">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseCC" aria-expanded="false"
                                            aria-controls="collapseCC">
                                        <span>Credit Card</span>
                                        <span class="acc-para">Safe money transfer using your bank account. Visa,
                                                maestro, discover,
                                                american express.</span>
                                    </button>
                                </h2>
                                <div id="collapseCC" class="accordion-collapse collapse show"
                                     aria-labelledby="creditCard" data-bs-parent="#paymentAccordion">
                                    <div class="accordion-body">
                                        <div class="payment-card-img d-flex gap-2">
                                            <i class="fa-regular fa-credit-card fs-2"></i>
                                            <i class="fa-solid fa-money-check fs-2"></i>
                                            <i class="fa-regular fa-credit-card fs-2"></i>
                                        </div>
                                        <hr class="my-4">
                                        <div class="payment-card-detail">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>Credit Card Number</label>
                                                        <input type="number" class="form-control"
                                                               placeholder="66655 8844 3322 9977">
                                                        <span class="input-checker"><i
                                                                class="fa-regular fa-circle-check"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>CVV Code</label>
                                                        <input type="text" class="form-control">
                                                        <span class="input-checker"><i
                                                                class="fa-regular fa-credit-card"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Expiry Date</label>
                                                        <input type="date" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group mb-0">
                                                        <label>Name On Card</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="netBanking">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseNetBanking"
                                            aria-expanded="false" aria-controls="collapseNetBanking">
                                        <span>Net banking</span>
                                        <span class="acc-para">Safe payment online. Credit card needed. Paypal
                                                account is not necessary.
                                            </span>
                                    </button>
                                </h2>
                                <div id="collapseNetBanking" class="accordion-collapse collapse"
                                     aria-labelledby="netBanking" data-bs-parent="#paymentAccordion">
                                    <div class="accordion-body">
                                        <p>Safe payment online. Credit card needed. Paypal account is not necessary.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row gy-4">
                        <div class="col-lg-12">
                            <div class="product-card-wrapper">
                                <div class="d-flex align-items-center gap-2 mb-2">
                                    <img src="/user/images/sample/product-img.png" alt="product-img">
                                    <h5 class="fw-bold line-clamp line-clamp-2">Collectible Pearl Jewelry: Timeless
                                        Elegance Unveiled</h5>
                                </div>
                                <h6 class="d-flex justify-content-between py-2"><span
                                        class="fw-normal">Quantity</span> <span class="fw-semibold">59</span>
                                </h6>
                                <h6 class="d-flex justify-content-between py-2"><span class="fw-normal">Bid
                                            Amount</span> <span class="fw-semibold">$710.00</span></h6>
                                <h6 class="d-flex justify-content-between py-2"><span class="fw-normal">Shipping
                                            Charge</span> <span class="fw-semibold">$20.00</span></h6>
                                <h6 class="d-flex justify-content-between py-2"><span class="fw-normal">tax</span>
                                    <span class="fw-semibold">$5.00</span>
                                </h6>
                                <h5 class="d-flex justify-content-between pt-2 pt-md-3 fw-bold border-top"><span
                                        class="">Total</span>
                                    <span class="">$735.00</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <a href="thankyou" class="payment-btn">Payment Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:insert="~{user/inc/footer.html :: footer}"></th:block>
<th:block th:insert="~{user/inc/scripts.html :: scripts(jquery=true, bootstrap=true, custom=true)}"></th:block>
</body>

</html>