<!DOCTYPE html>
<html lang="en" id="theme" class="light"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <th:block th:insert="~{inc/head.html :: head(title='Thank You')}"></th:block>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
</head>

<body>

<th:block th:insert="~{inc/header.html :: header}"></th:block>

<div class="win-wrapper text-center" id="win-wrapper" style="background-image: url('/images/model-bg.svg')">
    <div class="px-3">
        <div class="winner-block">
            <img src="/images/deal.svg" alt="deal-done">
            <h2>Thank you</h2>
            <p>Confirmation will be sent to your email. Stay tuned for more chances to win!</p>
            <div class="product-card-wrapper text-start d-flex flex-column">
                <div class="d-sm-flex align-items-center gap-2">
                    <div class="mb-2 mb-sm-0">
                        <img src="/images/product-img.png" alt="product-img" class="h-auto m-0">
                    </div>
                    <h5 class="fw-bold line-clamp line-clamp-2">Collectible Pearl Jewelry: Timeless
                        Elegance Unveiled</h5>
                </div>
                <hr class="opacity-25">
                <div class="row gy-3">
                    <div class="col-lg-6">
                        <h6 class="mb-1">Delivery Date</h6>
                        <p class="fw-light m-0">22 Aug 2023</p>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="mb-1">Delivery Address</h6>
                        <p class="fw-light m-0">206 Shaw Ave, Pasadena, Texas, USA</p>
                    </div>
                </div>
            </div>
            <a href="dashboard" class="primary-btn d-inline-block mt-4">go to dashboard</a>
        </div>
    </div>
</div>

<th:block th:insert="~{inc/footer.html :: footer}"></th:block>
<th:block th:insert="~{inc/scripts.html :: scripts(jquery=true, custom=true)}"></th:block>
<script src="/js/thankyou.js"></script>
</body>

</html>